@charset "UTC-8";

:root {
  --major: #FFBC3A;
  --sub: #B8B8B8;
  --action-button: #000;
}

:root[color-theme='light'] {
  --text: #000;
  --color: #fff;
 }

:root[color-theme='dark'] {
  --text: #DADADA;
  --color: #2C2C2C; 
}

/***** common *****/

body {
  margin: 0;
  background: var(--color);
  color: var(--text);
  font-family: 'Noto Sans KR', sans-serif;
}

button {
  all: unset;
}

a {
  text-decoration: none;
}

.button_yellow {
  background-color: var(--major);
}

.button_gray {
  background-color: var(--sub);
}

.select_lang {
  color: var(--major);
  font-weight: bold;
}

/*** header ***/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

header h1 {
  color: var(--major);
  font-size: 40px;
  font-weight: normal;
  font-family: 'Timmana', sans-serif;
}

header .btn_wrap {
  display: flex;
  align-items: center;
}

header .btn_wrap button {
  margin: 0 30px;
  transition: .2s;
}

header .btn_wrap button:active {
  color: var(--major);
}

header .btn_wrap form {
  margin-top: 15px;
}

header .btn_wrap form button {
  margin: 0px 20px;
}

header .btn_wrap a {
  margin: 0 20px;
  color: var(--text);
  transition: .2s;
}

header .btn_wrap a:active {
  color: var(--major);
}

header .theme {
  font-size: 25px;
}

/*** section common ***/

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/*** clock_view ***/

.clock_view p {
  font-size: 30px;
}

.clock_view h2 {
  font-size: 50px;
}

/*** stopwatch_view ***/

.stopwatch_view h2 {
  font-size: 50px;
}

.stopwatch_view button {
  padding: 20px 100px;
  background-color: var(--major);
  color: var(--action-button);
  border-radius: 10px;
}

.stopwatch_view .negative {
  background-color: var(--sub);
}

.stopwatch_view .btn_wrap {
  display: flex;
}

.stopwatch_view .btn_wrap button {
  margin: 0 20px;
}

/*** notfound_view ***/

.notfound_view {
  color: var(--major);
  font-family: 'Timmana', sans-serif;
}

.notfound_view h3 {
  font-size: 50px;
  margin: 0;
}

.notfound_view h2 {
  font-size: 100px;
  margin: 0;
}

.notfound_view a {
  color: var(--text);
}